body {
    font-family: Arial, sans-serif;
    background-color: #fefffb;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #05502d;
    font-family: cursive;
  }
  
  input, button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #2abe0c;
    color: white;
    border-radius: 200pt;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ea502;
  }
  
  #output {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
  }
  p{
    color: #1a550e;
    font-size: 10pt;
  }
